# Ignore everything in the data folder
data/*

# Unignore png datasets
!data/Drive/train-png
!data/Drive/test-png

# Model checkpoints
models/
*.pth

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
